<!-- header -->
<div id="header">
	<p class="description">Explore this map to discover where everyone in LBi, have come from.
	<br />You can add yourself to show diversity of LBi.<br/><br/><a id="addOrigin" href="#"> Add your origin</a></p>
	<h1>Gary<br />Origins</h1>
</div>

<div id="form">
	
	<div id="screen"></div>
	
	<%= render "form" %>
	
</div>

<!-- eo form -->
<div id="map_canvas">
</div>